<div id="head" class="row">
    <div id="noticia-panel" class="row">

    </div>
    <div id="top-panel" class="row row-eq-height">
        <div class="col-xs-2 col-md-4 children-left-align menu vcenter">
            <div id="main-menu-shortuck" ng-click="alternarMenu()" >
                <div class="menu-toggle">
                    <div class="one"></div>
                    <div class="two"></div>
                    <div class="three"></div>
                </div>
            </div>
        </div>
        <div class="col-xs-7 col-md-4 menu vcenter" style="text-align:center;">
            <div style="text-align:center;">
                <a ui-sref="app.home">
                    <img src="assets/images/cebrace-logo.png"/>
                </a>
            </div>
        </div>
        <div class="col-xs-3 col-md-4 menu vcenter" style="text-align:center;">
        </div>
    </div>
</div>
